<!DOCTYPE html>
<html lang="en" ng-app='mainApp'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Js Learning</title>
</head>

<body>
    <!-- One way to inject the html using angular pre defined directive
    <ng-include src="'includes/header.html'"></ng-include> -->

    <!-- Other way to inject the html using html tags and directive as an attribute to make it more semantic-->
    <header ng-include="'includes/header.html'"></header>

    <div class="block" ng-controller='mainController'>
        <!-- {{name}} -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Seach Employee</label>
                        <input type="text" placeholder="Please enter to search" class="form-control" ng-model='searchEmployee' />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group text-right">
                        <label>Sort By</label>
                        <div class="block w-100">
                            <button class="btn btn-primary float-left w-25" ng-click='order = "name"'>Name</button>
                            <button class="btn btn-primary float-left w-25" ng-click='order = "age"'>Age</button>
                            <button class="btn btn-primary float-left w-25" ng-click='ascending = ""'>Ascending</button>
                            <button class="btn btn-primary float-left w-25" ng-click='ascending = "-"'>Descending</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all-employees-wrapper">
                <h1 class="text-center">All Employees</h1>
                <ul class="float-left w-100 p-0 m-0">
                    <li ng-repeat='employee in employeeArray | filter: searchEmployee | orderBy: ascending+order' class="btn btn-primary float-left w-25 mb-1">{{employee.name}} <span class="badge badge-light">{{employee.age}}</span> <span ng-click='removeEmployee(employee)' class="float-right">X</span></span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</body>

</html>