<h1 class="text-center text-capitalize">{{pageTitle}}</h1>
<form class="contact-form col-lg-6 offset-lg-3" ng-submit='sendMessage()' novalidate name='contactForm'>
    <div class="form-group block">
        <label class="control-label">Name</label>
        <input type="text" placeholder="" name="name" class="form-control" ng-model='contact.name' ng-required='true'/>
        <!-- <span>
            $pristine -- {{contactForm.name.$pristine}}<br/>
            $dirty -- {{contactForm.name.$dirty}}<br/>
            $untouched -- {{contactForm.name.$untouched}}<br/>
            $touched -- {{contactForm.name.$touched}}<br/>
            $invalid -- {{contactForm.name.$invalid}}<br/>
            $valid -- {{contactForm.name.$valid}}<br/>
        </span> -->
        <div class="help-block" ng-show='contactForm.name.$touched && contactForm.name.$invalid'>First name is mandatory</div>
    </div>
    <div class="form-group block">
        <label class="control-label">Email</label>
        <input type="email" placeholder="" name="email" class="form-control" ng-model='contact.email' ng-required='true'/>
        <div class="help-block" ng-show='contactForm.email.$touched && contactForm.email.$invalid'>Email is mandatory</div>
    </div>
    <div class="form-group block">
        <label class="control-label">Message</label>
        <textarea rows="3" class="form-control" name="message" ng-model='contact.message' ng-required='true'></textarea>
        <div class="help-block" ng-show='contactForm.message.$touched && contactForm.message.$invalid'>Message is mandatory</div>
    </div>
    <div class="block text-center">
        <input type="submit" class="btn btn-primary" value="Submit" ng-disabled='contactForm.$invalid'/>
    </div>
</form>