body {
    font-family: 'Montserrat', sans-serif;
}

/* The starting CSS styles for the enter animation */
main.ng-enter {
    transition:1.2s ease-in all;
    opacity:0;
    transform: translateX(100%);
}

/* The finishing CSS styles for the enter animation */
main.ng-enter.ng-enter-active {
    opacity:1;
    transform: translateX(0);
}

.all-employees-wrapper ul li.ng-enter {
    opacity: 0;
    transform: scale(0);
    transition: all 1.2s ease-in;
}

.all-employees-wrapper ul li.ng-enter.ng-enter-active {
    opacity: 1;
    transform: scale(1);
}

.all-employees-wrapper ul li.ng-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 1.2s ease-in;
}

.all-employees-wrapper ul li.ng-leave.ng-leave-active {
    opacity: 0;
    transform: scale(0);
}

.all-employees-wrapper ul li.ng-leave-stagger {
    transition-delay: 0.3s;
    transition-duration: 0s;
}


/* Contact Form CSS Starts Here */
.contact-form .form-control {
    resize: none;
}

.contact-form .form-control.ng-invalid.ng-touched{
    border: 1px solid red;
}
